* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: #212529;
  color: #ffffff;
  padding-left: 30px;
  height: 86px;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  /* height: calc(130vh - 53px - 50px); */
}

main {
  flex-basis: 1;
  margin-bottom: 3rem;
}

.movies {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
  margin-top: 3rem;
}

.movie,
.year,
.series {
  /* display: block; */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-left: .5rem;
  background: #0D6EFD;
  padding: .3rem;
  border-radius: 5px;
  color: #ffffff;
}

.year {
  min-width: 59px;
  text-align: center;
  background: #FFC107;
  color: #000000;
  margin-left: 0;
}

.series {
  background: #198754;
}

.pagination {
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.pagination-list {
  margin: 0 10px 10px 0;
}

.pagination-btn {
  width: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: #FFC107;
  color: #000000;
  padding: .3rem;
  border: none;
  border-radius: 5px;
}

.catalog-form {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.catalog-form__input,
.form-select {
  width: 500px;
  font-family: 'Poppins', sans-serif;
}

.catalog-form__input {
  border: 1px solid #CED4DA;
  border-radius: 5px;
  padding: 6px 10px;
  margin-right: 5px;
}

.catalog-form__search-box {
  display: flex;
  align-items: center;
}

.page__inner {
  display: flex;
  justify-content: center;
  min-height: 513px
}

.page__info {
  width: 71%;
  margin-top: 5rem;
  min-height: 451px;
  margin-left: 3rem;
}



.page__info-text {
  margin: 0 0 3rem 0;
  /* border:  1px solid #4e4e4e; */
  padding: 1rem;
  background: #eeeeee;
  border-radius: 0.5rem
}

@media (max-width: 1200px) {
  .catalog-form {
    flex-direction: column;
    align-items: center;
  }

  .catalog-form__search-box,
  .form-select,
  .catalog-form__input {
    width: 100%;
  }

  .catalog-form__search-box {
    margin-bottom: 1rem;
  }
}

@media (max-width:1050px) {
  .page__content {
    height: max-content !important
  }
}

@media (max-width: 992px) {

  .page__inner {
    flex-direction: column;
  }

  .page__info-img {
    width: 80% !important;
    height: auto !important;
    margin: 0 auto !important;
    margin-top: 3rem !important;
  }

  .page__info {
    width: 100%;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .movies {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}